<!doctype html>
<html lang="en">
  <head>
    {%- render "pico" -%}
    <title>Documentation Index</title>
    <style>
      aside li { padding: 0 ; font-size: 50%; }
      .grid { grid-template-columns: repeat(4, 1fr); }
    </style>
  </head>
  <body class="container">
    <main>
      {%- if groups.size > 1 -%}
      <aside>
        <details open="">
          <summary>TOC</summary>
          <ul  class="overflow-auto">
            {%- for group in groups %}
              <li><a href="#{{ group[0] }}">{{ group[0] }}</a></li>
            {%- endfor -%}
          </ul>
        </details>
      </aside>
      {%- endif -%}
      {%- for group in groups %}
      <article>
        <header>
          <h1 id="{{ group[0] }}">{{ group[0] }}</h1>
        </header>        
        <div class="grid">
          {%- for item in group[1] %}
          <div>
            <a href="{{ item }}.html">{{ item }}</a>
          </div>
          {%- endfor %}
        </div>
      </article>
      {%- endfor %}
    </main>
  </body>
</html>