<!doctype html>
<html lang="en">

<head>
  {%- render "pico" -%}
  <title>{{ name }} Dependency Injection</title>
  <style>
    :root {
      --pico-font-size: 100%;
    }

    th {
      position: sticky;
      top: 0;
    }

    td {
      background-image: linear-gradient(var(--pico-background-color), var(--pico-table-row-stripped-background-color));
    }
  </style>
</head>

<body class="container">
  <TABLE>
    <THEAD data-theme='dark'>
      <TR>
        <TH>Service</TH>
        <TH>Param</TH>
        <TH>Requirement</TH>
      </TR>
    </THEAD>
    {%- for svc in services -%}
      <TR>
        {%- if svc.Requires.size > 1 %}
          <TD rowspan='{{svc.Requires.size}}'>
        {%- else %}
          <TD>
        {%- endif -%}
        {{ svc.Service.Safe }}</TD>
        {%- for prm in svc.Requires -%}
          {%- unless forloop.first %}
            <TR>
          {%- endunless -%}
          <TD>{{ prm[0] }}</TD>
          <TD>{{ prm[1].Safe }}</TD>
          {%- unless forloop.last %}
            </TR>
          {%- endunless -%}
        {%- endfor -%}
      </TR>
    {%- endfor -%}
  </TABLE>
</body>

</html>